@page
@model LoginModel

@{
   
    ViewData["Title"] = "Log in";
}
<body style="margin-top:50px">

<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                    <div class="card1 pb-5 border-line">
                    @* <div class="row">
                        <img src="https://i.imgur.com/CXQmsmF.png" class="logo">
                    </div> *@
                    <div class="row px-3 justify-content-center mt-4 mb-5 " style="margin:30px">
                        <img src="/assets//img/intro1.png" style="margin-top:70px"  class="image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    @* <div class="row mb-4 px-3">
                    https://i.imgur.com/uNGdWHi.png
                        <h6 class="mb-0 mr-4 mt-2">Sign in with</h6>
                        <div class="facebook text-center mr-3"><div class="fa fa-facebook"></div></div>
                        <div class="twitter text-center mr-3"><div class="fa fa-twitter"></div></div>
                        <div class="linkedin text-center mr-3"><div class="fa fa-linkedin"></div></div>
                    @* </div> *@
                    <div class="row px-3 mb-4">
                        <h1 style="text-align:center" class="bi bi-buildings" href="index.html"> </h1>

                        <small class="or text-center">Welcome Back <br /> Login Now  </small>
                       
                    </div> 
                    <form id="account" method="post">
                    <div class="row px-3">
                        <label class="mb-1"><h6 class="mb-0 text-sm">Email Address</h6></label>
                        <input class="mb-4" type="text" name="email" placeholder="Enter a valid email address">
                    </div>
                    <div class="row px-3">
                        <label class="mb-1"><h6 class="mb-0 text-sm">Password</h6></label>
                        <input type="password" name="password" placeholder="Enter password">
                    </div>
                    
                    <div class="row px-3 mb-4">
                        <div style="margin:20px" class="custom-control custom-checkbox custom-control-inline">
                            <input id="chk1" type="checkbox" name="chk"   class="custom-control-input">
                            <label for="chk1" class="custom-control-label text-sm">Remember me</label>
                        </div>
                        
                        <a href="#" class="font-weight-bold">Forgot Password?</a>
                    </div>
                        <button type="submit" class="col text-center btn btn-danger  ">Login</button>
                    
                    </form>
                    @* <div class="row mb-4 px-3">
                        <small class="font-weight-bold">Don't have an account? <a class="text-danger ">Register</a></small>
                    </div> *@
                </div>
            </div>
        </div>
       @*  <div class="bg-blue py-4">
            <div class="row px-3">
                <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2019. All rights reserved.</small>
                <div class="social-contact ml-4 ml-sm-auto">
                    <span class="fa fa-facebook mr-4 text-sm"></span>
                    <span class="fa fa-google-plus mr-4 text-sm"></span>
                    <span class="fa fa-linkedin mr-4 text-sm"></span>
                    <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span>
                </div>
            </div>
        </div>
    </div> *@
</div>
</div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

