@using ProjectHTU.Entities;
@{
    ViewData["Title"] = "Home Page";
}

<!-- End Navbar -->
<section id="hero">

    <div class="hero-container" data-aos="fade-in">
        <h1>Welcome to Apprenticeship</h1>
        <h2> Effective Communication Between Member On System </h2>
        <img src="assets/img/intro2.png" width="600"
             height="450" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
    </div>
</section><!-- End Hero Section -->

<section id="testimonials" class="padd-section text-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

            <div class="col-md-8">

                <div class="testimonials-content">
                    <div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">

                        <div class="carousel-inner" role="listbox">

                            <div class="carousel-item  active">
                                <div class="top-top">

                                    <h2>ADMIN</h2>
                                    <p>
                                        My experience with the system as an admin was that there was security in dealing with the system. Each user has specific permissions, and the permissions of other people, whether users or visitors, cannot be accessed.

                                        My powers include: Adding a new admin or any user only through me and modifying them or deleting them from the system.
                                        Good experience
                                    </p>
                                    <h4>Rawan Duglass<span> ADMIN </span></h4>

                                </div>
                            </div>

                            <div class="carousel-item ">
                                <div class="top-top">

                                    <h2>STUDENT</h2>
                                    <p>
                                        As a student trainee, I used to follow the exercises I took and the tasks for each training. Each task had a report that I submitted, and the leader rejected it (here I can re-edit it and send it again) or accept it.
                                    </p>
                                    <h4>Tala Ali<span>STUDENT</span></h4>

                                </div>
                            </div>

                            <div class="carousel-item ">
                                <div class="top-top">

                                    <h2>TEAMLEADER</h2>
                                    <p>
                                        I had a wonderful experience in following up with my trainee students, giving them tasks, and informing them by sending them an email when the task was created..and notifying me when the student solved the task, and then I evaluated it for them..
                                    </p>
                                    <h4>David Spark<span>TEAMLEADER</span></h4>

                                </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="top-top">

                                    <h2>SCHOOL SUPERVISOR</h2>
                                    <p>
                                        I had a successful experience with the available training system, as I was up to date with everything the student and leader were doing, knowing the training objectives and each task given to the student, and being informed of his solution to the tasks.
                                    </p>
                                    <h4>Bahaa <span>SCHOOLSUPERVISOR</span></h4>

                                </div>
                            </div>
                        </div>

                        <div class="btm-btm">

                            <ul class="list-unstyled carousel-indicators">
                                <li data-bs-target="#carousel-example-generic" data-bs-slide-to="0" class="active"></li>
                                <li data-bs-target="#carousel-example-generic" data-bs-slide-to="1"></li>
                                <li data-bs-target="#carousel-example-generic" data-bs-slide-to="2"></li>
                                <li data-bs-target="#carousel-example-generic" data-bs-slide-to="3"></li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Testimonials Section -->
<section id="get-started" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

            <h2>Apprenticeship System </h2>
            <p class="separator">Effective Communication Between Member On System including : </p>

        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="feature-block">

                    <img src="assets/img/svg/cloud.svg" alt="img">
                    <h4> Progress Tracking</h4>
                    <p> Implemented a feature allowing students to log progress, submit assignments, and showcase their development. </p>
                    <a href="#">read more</a>

                </div>
            </div>

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="feature-block">

                    <img src="assets/img/svg/planet.svg" alt="img">
                    <h4>Mentor Visibility</h4>
                    <p> Developed intuitive dashboards for both school and work mentors, revolutionizing communication methods and enhancing collaboration. </p>
                    <a href="#">read more</a>

                </div>
            </div>

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="feature-block">

                    <img src="assets/img/svg/asteroid.svg" alt="img">
                    <h4>Responsive Design</h4>
                    <p> Engineered a seamlessly accessible design, ensuring the platform's responsiveness on various devices and prioritizing an optimal user experience.</p>
                    <a href="#">read more</a>

                </div>
            </div>

        </div>
    </div>

</section><!-- End Get Started Section -->
<!-- ======= Features Section ======= -->
<section id="features" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
            <h2>Amazing Features.</h2>
            <p class="separator"></p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="assets/img/svg/paint-palette.svg" alt="img">
                    <h4>creative design</h4>
                    <p>Engineered a seamlessly accessible design, ensuring the platform's responsiveness on various devices and prioritizing an optimal user experience.</p>
                </div>
            </div>


            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="assets/img/svg/design-tool.svg" alt="img">
                    <h4>easy to use</h4>
                    <p>Simple System to track and communication tasks between users . </p>
                </div>
            </div>



            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="assets/img/svg/asteroid.svg" alt="img">
                    <h4>Free Updates</h4>
                    <p>For User Data and Update Information .</p>
                </div>
            </div>




            <div class="col-md-6 col-lg-3">
                <div class="feature-block">
                    <img src="assets/img/svg/code.svg" alt="img">
                    <h4>Clean Codes</h4>
                    <p>Using ASP.NET Core and the MVC architectural pattern C# .</p>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Features Section -->

<section id="newsletter" class="newsletter text-center">
    <div class="overlay padd-section">
        <div class="container" data-aos="zoom-in">

            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-6">
                    <form class="d-flex" method="POST" action="#">
                        <input type="email" class="form-control " placeholder="Email Adress" name="email">
                        <button type="submit" class="btn btn-default"><i class="bi bi-location-arrow"></i>Subscribe</button>
                    </form>
                </div>
            </div>

            <ul class="list-unstyled">
                <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
            </ul>

        </div>
    </div>
</section><!-- End Newsletter Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="padd-section">

    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
            <h2>Contact</h2>
            <p class="separator">If You have any questions about our services, you can write to us HERE </p>
        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-3 col-md-4" style="margin-top:50px">

                <div class="info">
                    <div>
                        <i class="bi bi-geo-alt"></i>
                        <p>Amman, Jordan</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <p>Apprenticeship@edu.jo</p>
                    </div>

                    <div>
                        <i class="bi bi-phone"></i>
                        <p>+962 785559760</p>
                    </div>
                </div>

            </div>

            <div class="col-lg-5 col-md-8">
                <div class="form">
                    <form asp-controller="Email" asp-action="SendEmail" method="post">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="form-group mt-3">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                        </div>
                        <div class="text-center"><button class="btn btn-success" type="submit">Send Message</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->
<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-4">
                <div class="footer-logo">

                    <a class="navbar-brand" href="#">
                </div>Apprenticeship
                </a>

            </div>
        </div>

    </div>


</footer>
