@using ProjectHTU.DTO
@using ProjectHTU.Entities;
@using Microsoft.AspNetCore.Identity;
@model InsertTeamLeaderDTO

<body class="container" style="margin-top:100px">

    <form action="/TeamLeader/Insert">

        <h2>Create a new TeamLeader </h2>
        <hr />
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" asp-for="firstName" placeholder="FirstName ">
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label for="secondName">Second Name</label>
                <input type="text" class="form-control" asp-for="secondName" placeholder="Second Name ">
                <span asp-validation-for="secondName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label for="thiredName ">Third  Name</label>
                <input type="text" class="form-control" asp-for="thiredName" placeholder="Third Name ">
                <span asp-validation-for="thiredName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" asp-for="lastName" placeholder="Last Name ">
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" asp-for="Email" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <input type="password" class="form-control" asp-for="password" placeholder="Password">
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="company">Company</label>
                <select asp-for="companyId" class="form-select" aria-label="Default select example">
                    <option> select Company </option>
                    @foreach (var s in (List<Company>)ViewBag.companies)
                    {
                        <option value="@s.companyId">@s.companyName</option>
                    }
                    <span asp-validation-for="companyId" class="text-danger"></span>
                </select>
            </div>
            <div class="form-group col-md-6">

                <label style="display:block" class="form-control-label">Roles</label>
                <select asp-for="roleIds" class="form-select" aria-label="Default select example">
                    <option> select role </option>
                    @foreach (var R in (List<IdentityRole>)ViewBag.roles)
                    {
                        <option value="@R.Id">@R.Name</option>
                    }
                </select>
            </div>

        </div>

        <button id="registerSubmit" type="submit" class=" btn btn-lg btn-success">Add TeamLeader</button>
    </form>
</body>
@{

}
